<h1>Create a new Pet</h1>

<form action="/pets" method="POST">
  <label for="pet_name">Name:</label>
  <input type="text" id="pet_name" name="pet[name]">
  <br><br>
  <% Owner.all.each do |o| %>
    <input type="checkbox" name="pet[owner_id]" value="<%= o.id %>" id="<%= o.id %>">
      <%= o.name %>
    </input>
  <% end %>
  <br>
  <p>Or, create a new owner:</p>
  <label for="owner_name">Name:</label>
  <input type="text" id="owner_name" name="owner[name]">
  <br><br>
  <input type="submit" value="Create Pet">
</form>
